[VERSION]
major =1
minor =0

[WEIGHT_AND_BALANCE]
max_gross_weight=128100
empty_weight=69800
reference_datum_position= 0, 0, 0
empty_weight_cg_position= 0, 0, 0
max_number_of_stations=9
station_load.0=170, 30.000007, -1.500006, 2, Pilot, 0
station_load.1=170, 30, 1.5, 2, First Officer, 0
station_load.2=510, 0, 0, 2, Crew, 0
station_load.3=1360, 17, 0, 2, First Class, 0
station_load.4=5440, 8, 0, 2, Economy 3-10, 0
station_load.5=5440, -10, 0, 2, Economy 11-18, 0
station_load.6=4760, -20, 0, 2, Economy 19-25, 0
station_load.7=4000, 7.5, 0, -1.5, Forword Baggage, 0
station_load.8=1000, -21.118509, 0, -1.500008, Aft Baggage, 0
station_name.0="Pilot" ; 
station_name.1="Co-Pilot" ; 
station_name.2="Crew" ; 
station_name.3="First Class" ; 
station_name.4="Coach 3-10" ; 
station_name.5="Coach 11-18" ; 
station_name.6="Coach 19-25" ; 
station_name.7="Forward Baggage" ; 
station_name.8="Aft Baggage" ; 
empty_weight_pitch_moi=1600655
empty_weight_roll_moi=588050
empty_weight_yaw_moi=2148751
empty_weight_coupled_moi=0
cg_forward_limit=0
cg_aft_limit=1
activate_mach_limit_based_on_cg=0
activate_cg_limit_based_on_mach=0

[CONTACT_POINTS]
static_pitch=-1
static_cg_height=7.8
tailwheel_lock=0
max_number_of_points=7
gear_system_type=1
point.0= 1, 28.392, 0, -7.3, 1000, 0, 1.2, 55.92, 0.72506, 1.1, 0.5, 4, 4, 0, 220, 250, 1 
point.1= 1, -8.346, -8.6, -8.3, 1000, 1, 1.6, 0, 0.72506, 0.9, 0.6, 6.9, 6.9, 2, 220, 250, 1 
point.2= 1, -8.346, 8.6, -8.3, 1000, 2, 1.6, 0, 0.72506, 0.9, 0.6, 7.1, 7.1, 3, 220, 250, 1 
point.3= 2, -14.17, -47.33, 4, 787.4, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 1 
point.4= 2, -14.17, 47.33, 4, 787.4, 0, 0, 0, 0, 0, 0, 0, 0, 6, 0, 0, 1 
point.5= 2, -57.1645, 0, 4.3495, 787.4, 0, 0, 0, 0, 0, 0, 0, 0, 9, 0, 0, 1 
point.6= 2, 48.1729, 0, 1.9119, 787.4, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 1 
gear_locked_on_ground=1
gear_locked_above_speed=-1
max_speed_full_steering=16.880556
emergency_extension_type=1
hyd_need_power_to_function=0
steering_time_constants= 3, 5

[FUEL]
LeftMain = -5.6, -15.8, 0, 1288, 0
RightMain = -5.6, 15.799819, 0, 1288, 0
Center1 = -1.986579, 0, 0, 4299, 0
Center2 = -3.6, 0, 0, 0, 0
Center3 = -3.6, 0, 0, 0, 0
LeftAux = -3.6, 0, 0, 0, 0
LeftTip = -3.6, 0, 0, 0, 0
RightAux = -3.6, 0, 0, 0, 0
RightTip = -3.6, 0, 0, 0, 0
External1 = -3.6, 0, 0, 0, 0
External2 = -3.6, 0, 0, 0, 0
fuel_type =2
number_of_tank_selectors =1
electric_pump =1
engine_driven_pump =1
manual_transfer_pump =0
manual_pump =0
anemometer_pump =0
fuel_dump_rate =0
default_fuel_tank_selector.1=1
default_fuel_tank_selector.2=1
default_fuel_tank_selector.3=1
default_fuel_tank_selector.4=1

[AIRPLANE_GEOMETRY]
wing_area=1098
wing_span=93
wing_root_chord=24
wing_camber=1
wing_dihedral=6
wing_incidence=1
wing_twist=-0.5
oswald_efficiency_factor=0.75
wing_winglets_flag=0
wing_sweep=25
wing_pos_apex_lon=2.479769
wing_pos_apex_vert=-1.5
htail_area=312.05
htail_span=36
htail_pos_lon=-50.5
htail_pos_vert=8
htail_incidence=0
htail_sweep=38.2
vtail_area=323
vtail_span=17
vtail_sweep=36.3
vtail_pos_lon=-45
vtail_pos_vert=20
elevator_area=70.5
aileron_area=26.9
rudder_area=56.19
elevator_up_limit=22.5
elevator_down_limit=19.5
aileron_up_limit=20
aileron_down_limit=20
rudder_limit=26
elevator_trim_limit=20
spoiler_limit=30
spoiler_extension_time=2
spoilerons_available=1
aileron_to_spoileron_gain=3
min_ailerons_for_spoilerons=10
min_flaps_for_spoilerons=0
auto_spoiler_available=1
positive_g_limit_flaps_up=4
positive_g_limit_flaps_down=3
negative_g_limit_flaps_up=-3
negative_g_limit_flaps_down=-2
load_safety_factor=1.5
wing_thickness_ratio=0.02
htail_thickness_ratio=0.02
vtail_thickness_ratio=0.02
fuselage_length=100.2
fuselage_diameter=14 
fuselage_center_pos= 0, 0, 3 
rudder_trim_limit=20
spoiler_handle_available=1
auto_spoiler_min_speed=0
elevator_trim_neutral=0
aileron_to_rudder_scale=0
flap_to_aileron_scale=0
fly_by_wire=0
elevator_elasticity_table=0.000000:1.000000, 135.000000:1.000000, 300.000000:0.700000, 1000.000000:0.700000, 1500.000000:0.500000 
aileron_elasticity_table=0.000000:1.000000, 300.000000:0.700000, 600.000000:0.700000, 1482.000000:0.700000, 1500.000000:0.700000 
rudder_elasticity_table=0.000000:1.000000, 300.000000:1.000000, 800.000000:1.000000, 1000.000000:1.000000, 1500.000000:1.000000 
elevator_trim_elasticity_table=0.000000:1.000000, 100.000000:1.000000, 800.000000:0.200000, 1000.000000:0.200000, 1500.000000:0.200000 
aileron_to_elevator_gain=0
air_spoiler_limit=30
spoiler_disabled_by_flaps=0
auto_spoiler_auto_retracts=1
fly_by_wire_from_flaps=0

[AERODYNAMICS]
lift_coef_pitch_rate =-57.116
lift_coef_daoa =0
lift_coef_delta_elevator =-1.652
lift_coef_horizontal_incidence =0
lift_coef_flaps =1.715
lift_coef_spoilers =-0.25
drag_coef_zero_lift =0.0197
drag_coef_flaps =0.0683
drag_coef_gear =0.03
drag_coef_spoilers =0.02
side_force_slip_angle =-3.252
side_force_roll_rate =1.833
side_force_yaw_rate =17.395
side_force_delta_rudder =-2.793
pitch_moment_horizontal_incidence =0
pitch_moment_delta_elevator =-11.78
pitch_moment_delta_trim =-11.78
pitch_moment_pitch_damping =-1245.917
pitch_moment_aoa_0 =-0.109
pitch_moment_daoa =0
pitch_moment_flaps =-0.084
pitch_moment_gear =0.0022
pitch_moment_spoilers =0.023
pitch_moment_delta_elevator_propwash =-11.78
pitch_moment_pitch_propwash =0
roll_moment_slip_angle =0.554
roll_moment_roll_damping =-2.078
roll_moment_yaw_rate =-2.621
roll_moment_spoilers =0
roll_moment_delta_aileron =-0.291
roll_moment_delta_rudder =0.476
roll_moment_delta_aileron_trim_scalar =-0.291
yaw_moment_slip_angle =1.296
yaw_moment_roll =0.742
yaw_moment_yaw_damping =-67.303
yaw_moment_yaw_propwash =0
yaw_moment_delta_aileron =-0.007
yaw_moment_delta_rudder =1.321
yaw_moment_delta_rudder_propwash =1.321
yaw_moment_delta_rudder_trim_scalar =1.321
compute_aero_center =0
aero_center_lift =-8.75
lift_coef_aoa_table =-3.150000:0.000000, 0.000000:0.224000, 0.139000:1.390000, 0.200000:1.480000, 0.260000:1.760000, 0.290000:1.750000, 0.320000:1.600000, 0.500000:1.500000, 3.150000:0.000000
lift_coef_ground_effect_mach_table =0.000000:1.200000, 1.000000:1.200000
lift_coef_mach_table =0.000000:1.000000
lift_coef_delta_elevator_mach_table =0.000000:0.000000
lift_coef_daoa_mach_table =0.000000:0.000000
lift_coef_pitch_rate_mach_table =0.000000:0.000000
lift_coef_horizontal_incidence_mach_table =0.000000:0.000000
drag_coef_zero_lift_mach_tab =0.000000:0.000000, 0.500000:0.000000, 0.550000:0.000000, 0.600000:0.000200, 0.650000:0.000300, 0.700000:0.000400, 0.750000:0.000800, 0.800000:0.001500, 0.850000:0.010000, 0.900000:0.150000, 0.950000:0.333000, 1.000000:0.500000
side_force_slip_angle_mach_table =0.000000:0.000000
side_force_delta_rudder_mach_table =0.000000:0.000000
side_force_yaw_rate_mach_table =0.000000:0.000000
side_force_roll_rate_mach_table =0.000000:0.000000
pitch_moment_aoa_table =-3.150000:0.000000, -0.800000:-2.402000, -0.400000:-1.861000, -0.200000:-0.842000, -0.100000:-0.442000, 0.000000:0.000000, 0.200000:1.173000, 0.230000:1.337000, 0.260000:1.489000, 0.290000:1.723000, 0.310000:1.919000, 0.400000:2.276000, 0.800000:2.992000, 3.150000:0.000000
pitch_moment_delta_elevator_aoa_table =-180.000000:-1.000000, -40.000000:0.050000, -20.000000:0.455000, -10.000000:0.853000, -5.000000:1.007000, 0.000000:1.000000, 5.000000:0.839000, 10.000000:0.693000, 20.000000:0.381000, 40.000000:-0.080000, 180.000000:-1.000000
pitch_moment_horizontal_incidence_aoa_table =0.000000:1.000000
pitch_moment_daoa_aoa_table =0.000000:1.000000
pitch_moment_pitch_alpha_table =0.000000:1.000000
pitch_moment_delta_elevator_mach_table =0.000000:0.000000
pitch_moment_daoa_mach_table =0.000000:0.000000
pitch_moment_pitch_rate_mach_table =0.000000:0.000000
pitch_moment_horizontal_incidence_mach_table =0.000000:0.000000
pitch_moment_aoa_0_mach_table =0.000000:0.000000
roll_moment_aoa_table =0.000000:0.000000
roll_moment_slip_angle_aoa_table =0.000000:1.000000
roll_moment_roll_rate_aoa_table =0.000000:1.000000
roll_moment_delta_aileron_aoa_table =0.000000:1.000000
roll_moment_slip_angle_mach_table =0.000000:0.000000
roll_moment_delta_rudder_mach_table =0.000000:0.000000
roll_moment_delta_aileron_mach_table =0.000000:0.000000
roll_moment_yaw_rate_mach_table =0.000000:0.000000
roll_moment_roll_rate_mach_table =0.000000:0.000000
yaw_moment_aoa_table =0.000000:0.000000
yaw_moment_slip_angle_aoa_table =0.000000:1.000000
yaw_moment_yaw_rate_aoa_table =0.000000:1.000000
yaw_moment_delta_rudder_aoa_table =0.000000:1.000000
yaw_moment_slip_angle_mach_table =0.000000:0.000000
yaw_moment_delta_rudder_mach_table =0.000000:0.000000
yaw_moment_delta_aileron_mach_table =0.000000:0.000000
yaw_moment_yaw_rate_mach_table =0.000000:0.000000
yaw_moment_roll_rate_mach_table =0.000000:0.000000
elevator_scaling_table =0.000000:1.000000
aileron_scaling_table =0.000000:1.000000
rudder_scaling_table =0.000000:1.000000
aileron_load_factor_effectiveness_table =0.000000:1.000000
lift_coef_at_drag_zero =0.05
lift_coef_at_drag_zero_flaps =0.1
lift_coef_air_spoilers=-0.25
elevator_lift_coef=5
rudder_lift_coef=5
fuselage_lateral_cx=0.4
presspt_fwd_Alpha0_pMAC=0
presspt_fwd_AlphaStall_pMAC=0
presspt_fwd_AlphaHiStall_pMAC=-0.25
drag_coef_air_spoilers=0.02
;elevator_lift_coef = 0.5 ; Defines elevator lift vs elevator angle-of-attack
;rudder_lift_coef = 0.5 ; Defines rudder lift vs rudder angle-of-attack
;fuselage_lateral_cx = 0.5; Defines fuselage lift and side force vs fuselage angle-of-attack and beta

[FLIGHT_TUNING]
cruise_lift_scalar=1 
parasite_drag_scalar=1 
induced_drag_scalar=1 
elevator_effectiveness=1 
aileron_effectiveness=1 
rudder_effectiveness=1 
pitch_stability=1 
roll_stability=1 
yaw_stability=1 
elevator_trim_effectiveness=1 
aileron_trim_effectiveness=1 
rudder_trim_effectiveness=1 
flap_induced_drag_scalar=1 
elevator_maxangle_scalar=1 
rudder_maxangle_scalar=1 
hi_alpha_on_roll=0 
hi_alpha_on_yaw=0 
p_factor_on_yaw=0 
torque_on_roll=0 
gyro_precession_on_roll=0 ; 
gyro_precession_on_yaw=0 
engine_wash_on_roll=0
wingflex_scalar=0.3 
wingflex_offset=0 
stall_coef_at_min_weight=0.5
empty_CG_deviation_limit=10000
icing_scalar=1
predicted_moi_density_scalar_fuselage=1
predicted_moi_density_scalar_wings=1
elevator_chordangle_scalar=-1
htail_maxangle_scalar=-1
modern_fm_only=0
disable_assistances=0
rudder_chordangle_scalar=-1
vtail_maxangle_scalar=-1
pitch_gyro_stability=0
roll_gyro_stability=0
yaw_gyro_stability=0
rudder_engine_wash_on_roll=1
gyro_precession_on_pitch=1


[REFERENCE SPEEDS]
full_flaps_stall_speed =113
flaps_up_stall_speed =142
cruise_speed =477
max_mach =0.82
max_indicated_speed =340
max_flaps_extended =274
normal_operating_speed =360
airspeed_indicator_max =562.5
rotation_speed_min =-1
climb_speed =231
cruise_alt =36000
takeoff_speed=140
spawn_cruise_altitude=38000
spawn_descent_altitude=15000
best_angle_climb_speed=0
approach_speed=0
best_glide=0
max_gear_extended=272.198975
cruise_mach=0.6
crossover_speed=0
best_single_engine_rate_of_climb_speed=0
minimum_control_speed=0
fly_assistant_use_dynamic_speeds=0

[EXITS]
number_of_exits = 2
exit.0 = 0.4 ; (0=Main 1=Passenger)
exit.1 = 0.4 ; (0=Main 1=Passenger)

;===================== FLAPS =====================


[INTERACTIVE POINTS]
number_of_interactive_points=6
interactive_point.0=0.330000 , 24.900000 , -5.400000, 1.000000, 0 , 0.000000, 0.000000, -85.000000 , 70.000000, 5.000000, 65.000000, 1.000000, 7.000000, 7.000000
interactive_point.1=0.330000 , -34.700001 , 4.500000, 1.500000, 0 , 0.000000, 0.000000, 90.000000 , 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000
interactive_point.2=0.330000 , 13.300000 , 3.000000, -3.200000, 1 , 0.000000, 0.000000, 90.000000 , 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000
interactive_point.3=0.330000 , -23.000000 , 3.000000, -3.200000, 1 , 0.000000, 0.000000, 92.000000 , 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000
interactive_point.4=0.330000 , -50.000000 , -30.000000, -6.000000, 3 , 0.000000, 0.000000, -90.000000 , 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000
interactive_point.5=0.330000 , 37.000000 , 10.000000, -6.000000, 4 , 0.000000, 0.000000, 45.000000 , 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000



[FLAPS.0]
type=1
system_type=1
system_type_index=0
span-outboard=0.8
extending-time=20
altitude-limit=-1
damaging-speed=250
blowout-speed=300
maneuvering_flaps=0
lift_scalar=1
drag_scalar=1
pitch_scalar=1
max_on_ground_position=4
delay_between_flap_index=0
flaps-position.0= 0, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.0= -57.29578, -1, -1
flaps-position-maneuvering.0=0
flaps-position-speed-factor.0=0.000000:-1.000000
flaps-position-speed-override-above.0= -1, -1
flaps-position-speed-override-below.0= -1, -1
flaps-position.1= 1, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.1= -57.29578, -1, -1
flaps-position-maneuvering.1=0
flaps-position-speed-factor.1=0.000000:-1.000000
flaps-position-speed-override-above.1= -1, -1
flaps-position-speed-override-below.1= -1, -1
flaps-position.2= 2, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.2= -57.29578, -1, -1
flaps-position-maneuvering.2=0
flaps-position-speed-factor.2=0.000000:-1.000000
flaps-position-speed-override-above.2= -1, -1
flaps-position-speed-override-below.2= -1, -1
flaps-position.3= 5, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.3= -57.29578, -1, -1
flaps-position-maneuvering.3=0
flaps-position-speed-factor.3=0.000000:-1.000000
flaps-position-speed-override-above.3= -1, -1
flaps-position-speed-override-below.3= -1, -1
flaps-position.4= 10, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.4= -57.29578, -1, -1
flaps-position-maneuvering.4=0
flaps-position-speed-factor.4=0.000000:-1.000000
flaps-position-speed-override-above.4= -1, -1
flaps-position-speed-override-below.4= -1, -1
flaps-position.5= 15, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.5= -57.29578, -1, -1
flaps-position-maneuvering.5=0
flaps-position-speed-factor.5=0.000000:-1.000000
flaps-position-speed-override-above.5= -1, -1
flaps-position-speed-override-below.5= -1, -1
flaps-position.6= 25, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.6= -57.29578, -1, -1
flaps-position-maneuvering.6=0
flaps-position-speed-factor.6=0.000000:-1.000000
flaps-position-speed-override-above.6= -1, -1
flaps-position-speed-override-below.6= -1, -1
flaps-position.7= 30, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.7= -57.29578, -1, -1
flaps-position-maneuvering.7=0
flaps-position-speed-factor.7=0.000000:-1.000000
flaps-position-speed-override-above.7= -1, -1
flaps-position-speed-override-below.7= -1, -1
flaps-position.8= 40, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.8= -57.29578, -1, -1
flaps-position-maneuvering.8=0
flaps-position-speed-factor.8=0.000000:-1.000000
flaps-position-speed-override-above.8= -1, -1
flaps-position-speed-override-below.8= -1, -1
[FLAPS.1]
type=2
system_type=1
system_type_index=0
span-outboard=0.8
extending-time=2
altitude-limit=-1
damaging-speed=250
blowout-speed=300
maneuvering_flaps=0
lift_scalar=1
drag_scalar=1
pitch_scalar=1
max_on_ground_position=4
delay_between_flap_index=0
flaps-position.0= 0, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.0= -57.29578, -1, -1
flaps-position-maneuvering.0=0
flaps-position-speed-factor.0=0.000000:-1.000000
flaps-position-speed-override-above.0= -1, -1
flaps-position-speed-override-below.0= -1, -1
flaps-position.1= 1, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.1= -57.29578, -1, -1
flaps-position-maneuvering.1=0
flaps-position-speed-factor.1=0.000000:-1.000000
flaps-position-speed-override-above.1= -1, -1
flaps-position-speed-override-below.1= -1, -1
flaps-position.2= 15, -1, 0.5, 1, 1, 0, 0
flaps-position-autoretract.2= -57.29578, -1, -1
flaps-position-maneuvering.2=0
flaps-position-speed-factor.2=0.000000:-1.000000
flaps-position-speed-override-above.2= -1, -1
flaps-position-speed-override-below.2= -1, -1
flaps-position.3= 20, -1, 0.5, 1, 1, 0, 0
flaps-position-autoretract.3= -57.29578, -1, -1
flaps-position-maneuvering.3=0
flaps-position-speed-factor.3=0.000000:-1.000000
flaps-position-speed-override-above.3= -1, -1
flaps-position-speed-override-below.3= -1, -1
flaps-position.4= 35, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.4= -57.29578, -1, -1
flaps-position-maneuvering.4=0
flaps-position-speed-factor.4=0.000000:-1.000000
flaps-position-speed-override-above.4= -1, -1
flaps-position-speed-override-below.4= -1, -1
[FLAPS.2]
type=2
system_type=1
system_type_index=0
span-outboard=0.8
extending-time=3
altitude-limit=-1
damaging-speed=250
blowout-speed=300
maneuvering_flaps=0
lift_scalar=1
drag_scalar=1
pitch_scalar=1
max_on_ground_position=3
delay_between_flap_index=0
flaps-position.0= 0, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.0= -57.29578, -1, -1
flaps-position-maneuvering.0=0
flaps-position-speed-factor.0=0.000000:-1.000000
flaps-position-speed-override-above.0= -1, -1
flaps-position-speed-override-below.0= -1, -1
flaps-position.1= 0.5, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.1= -57.29578, -1, -1
flaps-position-maneuvering.1=0
flaps-position-speed-factor.1=0.000000:-1.000000
flaps-position-speed-override-above.1= -1, -1
flaps-position-speed-override-below.1= -1, -1
flaps-position.2= 20, -1, 0.5, 1, 1, 0, 0
flaps-position-autoretract.2= -57.29578, -1, -1
flaps-position-maneuvering.2=0
flaps-position-speed-factor.2=0.000000:-1.000000
flaps-position-speed-override-above.2= -1, -1
flaps-position-speed-override-below.2= -1, -1
flaps-position.3= 35, -1, 1, 1, 1, 0, 0
flaps-position-autoretract.3= -57.29578, -1, -1
flaps-position-maneuvering.3=0
flaps-position-speed-factor.3=0.000000:-1.000000
flaps-position-speed-override-above.3= -1, -1
flaps-position-speed-override-below.3= -1, -1
